/* 

Colour pallet
#0E1F2F #E84546 #84DADB #F0A178 #202932 #292E4B

*/

/* Global Styles */
body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("bg3.jpg");
    color: rgb(241, 241, 241);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #292e4b68;
    border-radius: 10px;
    /* Rounded corners */
    padding: 20px;
}

/*------------------------------------*/

/* Custom navbar background*/
.custom-navbar .dropdown-menu {
    background-color: #0E1F2F;
}

.dropdown-menu {
    color: #ffffff;
}

/* Custom styles for dropdown menu */
.navbar .dropdown-menu {
    background-color: #0E1F2F;
    border: none;
}

.navbar .dropdown-menu a.dropdown-item {
    color: #ffffff;
}

.navbar .dropdown-menu a.dropdown-item:hover {
    background-color: #495057;
    /*Hover*/
}

.navbar .dropdown-menu .dropdown-divider {
    border-top-color: #6c757d;
    /*Divider*/
}

/*---------------------------------------*/

/* Banner image things*/
.image-container {
    position: relative;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    padding: 25px;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 25px;
    background-clip: padding-box;
}

/* ------------------------------------ */

/* Form styling */
.custom-bg {
    background-color: #202932;
    color: #ffffff;
}

/* Gallery styling */
.card-body {
    background-color: #202932;
    border-radius: 0;
    color: white;
    padding: 1.5rem;
}

.card-img-top {
    object-fit: cover;
    border-radius: 0;
    height: 500px;
}

.card {
    border: none;
}

/* ----------------------------------- */

/* image preview on games page */
.custom-image {
    width: 300px;
    height: auto;
}